<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iletisim</title>
</head>
<body>

<form action="/mesajkaydet" method="post" autocomplete="on">
    <p>
        <label for="adsoyad">First name:</label>
        <input type="text" id="adsoyad" name="adsoyad"><br><br>
    </p>

    <p>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email"><br><br>
    </p>
    <p>
        <label for="mesaj">mesaj:</label>
        <input type="text" id="mesaj" name="mesaj"><br><br>
    </p>
    <p>
        <input type="submit">
    </p>

</form>


</body>
</html>